header {

   li {
      height: 111px;
      display: flex;
      align-items: center;

      &.active {
         border-bottom: 6px solid #0282f9;

         a {
            color: #0282f9;
         }
      }
   }


   a {
      text-decoration: none;
      color: black;
      font-size: small;
   }
}