#app_main {

   .main_jumbo {
      height: 300px;
      width: 100%;

      background-image: url('/src/assets/img/jumbotron.jpg');
      background-repeat: no-repeat;
      background-size: cover;

      position: relative;

      .tag {
         width: fit-content;
         padding: 0.5rem 1rem;

         position: absolute;
         bottom: -20px;
         left: 330px;
      }
   }

   #main_sec {
      height: 500px;
   }
}